h1 {
  font-weight: bold;
  color: red;
  font-family: Helvetica;
}

h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-style: italic;
}

* {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}